include .flake8
include requirements.txt
include pytest.ini
include mypy.ini
include tox.ini
include COPYING

include *.py

recursive-include test *.py *.yml
recursive-include test/data *.pdf

prune .tox
